/* Adapted from https://codepen.io/mutedblues/pen/MmPNPG */

/* header */

header {
  background-color: #20291e;
  width: 100%;
  position: fixed;
  overflow: auto;
  z-index: 3;
}

.header {
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  border-bottom: 1px solid #fdfdfd;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #20291e;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  outline: 0;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.header .logo:hover,
.header li a:hover,
.header .menu-btn:hover {
  color: #d3d3d3;
}

.header .logo {
  outline: 0;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px 7px 20px;
  text-decoration: none;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 33px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fdfdfd;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fdfdfd;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
