<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cheuk Wing - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/information.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/08507c625c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/" class="logo">λ</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
          <span class="navicon"></span>
        </label>
        <ul class="menu">
          <li><a href="/about/">About</a></li>
          <li><a href="/education/">Education</a></li>
          <li><a href="/experience/">Work Experience</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/other/">Other</a></li>
        </ul>
      </div>
    </header>

    $body$
  </body>
</html>
